<header>
    <div class="navbar navbar-dark bg-primary shadow-sm">
        <div class="navbar-brand align-item-center d-flex">
                 <a><i style="font-size:40px;" class="fa fa-truck" aria-hidden="true"></i> &nbsp; 
                    <strong style="font-size:30px;">RMS Traders</strong></a>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search Products">
                    </div>
                    <span class="fa fa-search search-icon" aria-hidden="true"></span>  
        </div>
        <button class="btn btn-primary">
            <i style="font-size:40px;" class="fa fa-cart-plus" aria-hidden="true"></i>
        </button>
    </div>
</header>

